{erl_opts, [debug_info,
	    %%warnings_as_errors,
	    {i, "./include"},
	    {i, "../gb_log/include"}]}.

{eunit_opts, [verbose]}.

{deps, [
	{yamerl, "0.3.2", {git, "https://github.com/pundunlabs/yamerl.git", {tag, "v0.3.2-1"}}},
	{mochiweb, "2.12.2", {git, "https://github.com/erdemaksu/mochiweb.git", {tag, "v2.12.2"}}}
	]}.
